$white: #FFFFFF;
$black: #000000;
$gold: #FFCD16;
$buttonHoverBlue: #427388;
$backgroundGrey: #797979;
$checkboxBorderGrey: #555555;
$limeGreen: #91F337;
$transparentGrey: rgba(77, 77, 77, 0.95);

body {
  background: url('../app/assets/images/background3.jpg') repeat $white;
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;

  .load-screen {
    background: $transparentGrey;
    height: auto;
    border: 2px $white double;
    padding: 30px;
    border-radius: 75px;
    margin: 50px 0 100px;

    .load-header {
      color: $white;
      padding-bottom: 25px;

      .load-h1 {
        font-size: 64px;

        .welcome {
          color: $gold;
          font-weight: bold;
        }
      }

      section {
        >.scroll-down {
          margin: 0 auto;
          top: 32px;
          -webkit-transition: all .5s ease-in 3s;
          transition: all .5s ease-in 3s;
          position: relative;
          display: block;
          width: 32px;
          height: 32px;
          border: 2px solid $white;
          border-radius: 50%;
          -webkit-animation: bounce 2s infinite 2s;
          animation: bounce 2s infinite 2s;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;

          &:before {
            position: absolute;
            top: calc(50% - 8px);
            left: calc(50% - 6px);
            transform: rotate(-45deg);
            width: 12px;
            height: 12px;
            content: '';
            border: 2px solid $white;
            border-width: 0px 0 2px 2px;
          }
        }

        &.city-scroll {
          height: 0;
        }
      }

      #city-input {
        font-size: 22px;
        width: 300px;
        margin: 0 auto;
      }
    }
  }

  .choose-list {
    font-size: 32px;
    background: none;
    color: $white;
    padding: 15px;
    margin: 30px 0;
    border: 2px solid $white;
    border-radius: 25px;

    &:hover {
      color: $white;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
      outline-color: rgba(255, 255, 255, 0);
      text-shadow: 1px 1px 2px $buttonHoverBlue;
    }
  }

  .path {
    color: $white;
    margin: 0 50px;
  }

  .pick {
    font-size: 56px;
    color: $white;
    padding-bottom: 25px;
    margin: 0 50px;
    border-bottom: 1px $white solid;
  }

  .premade {
    display: none;
    margin-top: 50px;

    .premade-list,
    .premade-map {
      background: $transparentGrey;
      height: 650px;
      border: 2px $white double;
      padding: 30px;
      border-radius: 75px;

      #list-head {
        color: $white;
        border-bottom: 1px $white solid;
        padding-bottom: 20px;
        margin: 0 50px;
      }
    }

    .premade-list {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    #map-canvas {
      height: 480px;
      border: 2px $black solid;
    }
  }

  .returned-list {
    text-align: left;
    color: $white;
    background-color: $backgroundGrey;
    margin-top: 20px;
    padding: 10px;
    word-wrap: break-word;

    input[type='checkbox'] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: $white;
      border: 2px solid $checkboxBorderGrey;
      cursor: pointer;

      &:checked {
        background: $limeGreen;
      }
    }

    .label {
      margin-right: 10px;
      background: rgba(66, 66, 66, 1);
    }

    label {
      font-size: 16px;
      margin-top: -13px;
      font-style: italic;
    }

    .headline {
      color: $gold;

      .img {
        margin: 0 5px 5px 0;
        height: 30px;
        width: 30px;
      }
    }

    a {
      color: $white;
    }
  }

  .fixed {
    z-index: 3;
    position: fixed;
    top: 300px;
    margin-left: 10px;
    background: rgba(100, 100, 100, 1);
    color: $limeGreen;
    font-size: 32px;
    border: 2px solid $limeGreen;
    border-radius: 10px;
    padding: 0px 10px 0px 5px;
    display: none;
    font-style: italic;
  }

  .selectBrew {
    display: none;
    margin: 50px auto;

    .chooseBrew {
      background: $transparentGrey;
      height: 650px;
      border: 2px $white double;
      padding: 30px;
      border-radius: 75px;
      overflow-y: scroll;

      >#createList {
        margin-right: 30px;
      }
    }
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
