body {
	background: url('../images/background2.jpg') repeat #ffffff;
	height: 100%;
	font-family: 'Playfair Display', serif;
	z-index: 1;
	background-size: cover;
}

.load-screen {
	background: rgba(77, 77, 77, 0.8);
	display: block;
	height: 100%;
	margin: 150px;
	border: 2px white double;
	padding: 30px;
	border-radius: 25px;
	z-index: 2;
}

.choose-list {
	font-size: 32px;
	background: none;
	color: white;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.choose-list:hover {
	color: white;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.load-header {
	color: white;
	border-bottom: 1px white solid;
	padding-bottom: 25px;
	margin-bottom: 25px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Playfair Display', serif;
}

.load-h1 {
	font-size: 64px;
	margin-left: 20px;
	margin-right: 20px;
}



