body {
	background: url('../images/background2.jpg') repeat #ffffff;
	height: 100%;
	font-family: 'Playfair Display', serif;
	z-index: 1;
}

.load-screen {
	background: rgba(77, 77, 77, 0.8);
	display: block;
	height: 100%;
	border: 2px white double;
	padding: 30px;
	border-radius: 75px;
	z-index: 2;
	margin-top: 100px;
}

.choose-list {
	font-size: 32px;
	background: none;
	color: white;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.choose-list:hover {
	color: white;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.load-header {
	color: white;
	border-bottom: 1px white solid;
	padding-bottom: 25px;
	margin-bottom: 25px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Playfair Display', serif;
}

.load-h1 {
	font-size: 64px;
	margin-left: 20px;
	margin-right: 20px;
}

#set-list {
	display: none;
}

.premade {
	display: none;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 100%;
    overflow: hidden;
}

.premade-list, .premade-map {
	background: rgba(77, 77, 77, 0.8);
	height: 100%;
	border: 2px white double;
	padding: 30px;
	border-radius: 75px;
	z-index: 2;
}

#list-head {
	color: white;
	border-bottom: 1px white solid;
	padding-bottom: 20px;
	margin-right: 50px;
	margin-left: 50px;
}

.returned-list {
	text-align: left;
	color: white;
	font-size: 14px;
	background: rgba(100, 100, 100, 1);
	margin-top: 20px;
	padding: 10px;
	word-wrap: break-word;
	border:2px black solid;
}

.label {
	margin-right: 10px;
	background: rgba(66, 66, 66, 1);
}

.headline {
	color: #ffcd16;
}

::-webkit-scrollbar { 
    display: none; 
}

label {
	font-size: 16px;
	margin-top: -13px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: #91f337;
}

.img {
	margin-right: 5px;
	margin-bottom: 5px;
	height: 30px;
	width: 30px;
}

a {
	color: white;
}

.col-md-4 {
  height: 600px; 
  overflow-y: scroll;
}

.col-md-8 {
	height: 600px;
}

.checkbox-inline {
	font-style: italic;

}

#map-canvas {
    height:430px;
    margin:0;
    padding:0;
    width:720px;
    border: 2px black solid;
}