body {
	background: url('../images/background2.jpg') repeat #ffffff;
	height: 100%;
	font-family: 'Playfair Display', serif;
	z-index: 1;
	background-size: cover;
}

.choiceHolder {
	background: rgba(77, 77, 77, 0.8);
	display: block;
	height: 100%;
	margin: 150px;
	border: 2px white double;
	padding: 30px;
	border-radius: 25px;
	z-index: 2;
}

.choosePath {
	font-size: 32px;
	background: none;
	color: white;
	border-style: double;
	border: 2px double white;
	border-radius: 25px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.choosePath:hover  {
    color:  #fff;
    background:  rgba(255, 255, 255, 0.2);
 }

.makeChoiceHead {
	color: white;
	border-bottom: 1px white solid;
	padding-bottom: 25px;
	margin-bottom: 25px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: 'Playfair Display', serif;
}

.h1choice {
	font-size: 64px;
	margin-left: 20px;
	margin-right: 20px;
}

